<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  Not sure if I really want you to be able to find me, but for the
  sake of the tutorial I will create this, in the future this will send
  you to my github.
</p>